.alignMiddle {
  text-align: center;
  margin-top: 80px;
}

.zikirmatik {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");



.outer-circle {
  position: relative;
  height: 200px;
  width: 200px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }

.outer-circle span {
  position: absolute;
  height: 200px;
  width: 200px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 50%;
  text-align: center;
}

.inner-circle {
  height: 180px;
  width: 180px;
  position: absolute;
  background: black;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
}

#zikirmatikCounter {
  color:white;
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
}

.btn-group {
  text-align: center;
  position: absolute;
  top: 290px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -10%) 
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


#tablo {
  width: 300px;
  height: 400px;
  margin-left: 15px;
}


body {
  background-image: url("./cool-background.png");
}

